<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>BoolFlix</title>
      <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
      <link rel="stylesheet" href="css/style.css">
   </head>
   <body>
      <div id="root">
         <header>
            <div class="searchbox">
               <input v-model="userInput" type="text">
               <button @click="search" type="button" name="button">Cerca</button>
            </div>
         </header>
         <main>
            <div v-for="film in films" class="card">
               <div class="card-info">
                  <img :src="'https://image.tmdb.org/t/p/w200'+ film.poster_path" alt="Cover film">
                  <span>Titolo: {{film.title}}</span>
                  <span>Titolo originale: {{film.original_title}}</span>
                  <span>Lingua: <img :src="'img/svg/'+film.original_language+'.svg'" alt="Bandiera lingua"></span>
                  <span> Voto:
                     <template v-for="vote in film.vote_average"><i class="fa fa-star" aria-hidden="true"></i>
                     </template><template v-if="film.vote_average < 5" v-for="value in film.star"><i class="fa fa-star-o" aria-hidden="true"></i>
                     </template>
                  </span>
               </div>
            </div>
         </main>
      </div>
      <script src="js/main.js"></script>
   </body>
</html>
